<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.ProductFavoriteMapper">

    <resultMap id="BaseResultMap" type="com.example.model.entity.ProductFavorite">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="userId" column="user_id" jdbcType="BIGINT"/>
        <result property="productId" column="product_id" jdbcType="BIGINT"/>
        <result property="folderId" column="folder_id" jdbcType="BIGINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,product_id,
        folder_id,create_time,update_time
    </sql>

    <!-- 根据用户ID查询收藏商品 -->
    <select id="selectByUserId" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM product_favorite
        WHERE user_id = #{userId}
    </select>

    <!-- 分页查询用户收藏商品 -->
    <select id="selectPage" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM product_favorite
        ORDER BY create_time DESC
    </select>

    <!-- 根据ID查询收藏商品 -->
    <select id="selectById" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM product_favorite
        WHERE id = #{id}
    </select>

    <!-- 插入新收藏商品 -->
    <insert id="insertProductFavorite" parameterType="com.example.model.entity.ProductFavorite">
        INSERT INTO product_favorite (user_id, product_id, folder_id, create_time, update_time)
        VALUES (#{userId}, #{productId}, #{folderId}, #{createTime}, #{updateTime})
    </insert>

    <!-- 更新收藏商品信息 -->
    <update id="updateProductFavorite" parameterType="com.example.model.entity.ProductFavorite">
        UPDATE product_favorite
        SET user_id     = #{userId},
            product_id  = #{productId},
            folder_id   = #{folderId},
            update_time = #{updateTime}
        WHERE id = #{id}
    </update>

    <!-- 根据ID删除收藏商品 -->
    <delete id="deleteProductFavorite">
        DELETE
        FROM product_favorite
        WHERE id = #{id}
    </delete>
</mapper>
